* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  background: linear-gradient(to right, #1a1a1a 30%, #fff 30%);
}

/* width */
::-webkit-scrollbar {
  width: 0.938rem;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 0 rgb(155, 155, 155);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 10px;
}

.ativo {
  animation: fadeInDown 0.3s forwards;
}

@keyframes fadeInDown {
  from {
    transform: translate3d(0, -30px, 0);
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
